<!DOCTYPE html>
<html>
  <head>
    <title>Nine Lives For All</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="background-color: #0b1d3a; color: white; text-align: center; font-family: sans-serif; padding: 2em;">
    <%= image_tag 'moo.jpg', alt: 'Moo the Cat', style: 'max-width: 300px; height: auto; border-radius: 10px;' %>
    <h1 style="margin-top: 1em;">Nine Lives For All</h1>
    <p style="font-size: 1.2em;">New Website Pending - AOLSEN.06.10.2025</p>
    <p style="font-size: 1em;">Website Push Expected 06.16.2025</p>

    <div style="margin-top: 2em;">
      <a href="https://www.facebook.com/profile.php?id=61574430428126" target="_blank" style="margin: 0 1em;">
        <%= image_tag 'facebook.svg', alt: 'Facebook', style: 'width: 40px; height: 40px; transition: transform 0.2s;' %>
      </a>
      <a href="https://www.instagram.com/ninelivesforall_az" target="_blank" style="margin: 0 1em;">
        <%= image_tag 'instagram.svg', alt: 'Instagram', style: 'width: 40px; height: 40px; transition: transform 0.2s;' %>
      </a>
      <a href="https://www.tiktok.com/@ninelivesforall" target="_blank" style="margin: 0 1em;">
        <%= image_tag 'tiktok.svg', alt: 'TikTok', style: 'width: 40px; height: 40px; transition: transform 0.2s;' %>
      </a>
    </div>

    <p style="margin-top: 3em;">Contact: <a href="mailto:moo@ninelivesforall.org" style="color: #aad;">moo@ninelivesforall.org</a></p>
  </body>
</html>
